[submodule "public"]
	path = public
	url = https://github.com/trans-in-ireland/trans-in-ireland.github.io.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
